site_name: Documentation technique BTS SIO 1
site_url: https://qdemouliere.github.io/sisr1
copyright: Licence CC 4.0 FR BY-NC-SA - 2025 - Q. Demoulière - Lycée Paul-Louis Courier 
theme:
  name: material
  logo: ./media/logo.png
  favicon: ./media/favicon.png
  language: fr
  features:
    - navigation.footer
    - content.code.copy
markdown_extensions:
  - admonition
  - tables
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true



